.contact-head {
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.contact {
  font-size: 13px;
}

#name {
  width: 20%;
  border: 1px solid darkgray;
  border-radius: 3px;
  background-color: lightgray;
}

#email {
  width: 20%;
  border: 1px solid darkgray;
  border-radius: 3px;
  background-color: lightgray;
}

#message {
  width: 20%;
  border: 1px solid darkgray;
  border-radius: 3px;
  background-color: lightgray;
}

#submit-btn {
  background-color: darkgray;
  color: #333;
  border: 1px solid;
  border-color: darkgray;
  border-radius: 3px;
  font-size: 13px;
  padding: 3px 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.15s;
  cursor: pointer;
  margin-bottom: 0;
}

#submit-btn:hover {
  background-color: lightgray;
  border: 1px solid;
  border-color: darkgray;
  color: #333;
}

#submit-btn:active {
  background-color: lightgray;
  border: 1px solid;
  border-color: darkgray;
  color: #333;
}

.labels {
  font-size: 13px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  #name {
      width: 45%;
    }
  
    #email {
      width: 45%;
    }
  
    #message {
      width: 45%;
    }
}