.head {
  width: 100%;
  background-color: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#h1-1 {
  padding: 10px;
  font-weight: 500;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  padding-left: 20px;
  color: lavender;
}

#h1-2 {
  padding: 10px;
  font-weight: 500;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  padding-left: 20px;
  color: lavender;
}

#heading-s {
  font-size: 24px;
  color: lavender;
}

nav {
  padding-right: 10px;
}

li {
  display: inline-block;
  padding: 10px;
  font-weight: 500px;
  transition: all 0.15s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

li:hover {
  font-weight: bold;
  border: 1px solid #333;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}