* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    color: black;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  
  h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: normal;
    font-family: serif;
    text-shadow: 4px 4px 5px black;
    letter-spacing: 0.5rem;
    border: none;
    border-bottom: 1px solid black;
  }
  
  h2 {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family: serif;
    font-weight: normal;
    text-shadow: 2px 2px 3px black;
  }
  
  h3 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-family: serif;
    font-weight: normal;
    text-shadow: 1px 1px 2px black;
  }
  
  p {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    text-shadow: 0px 0px 1px black;
  }
  
  section {
    padding: 30px;
  }
  
  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    height: 100vh;
  }
  
  #element {
    font-family: serif;
    height: 2rem;
    text-shadow: 1px 1px 2px black;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
  
  #about {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
  }
  
  #works {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  
  #works > h2 {
    align-self: flex-start;
    width: 100%;
  }
  
  #works > a {
    text-decoration: none;
    color: black;
  }
  
  .work-list {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    height: 350px;
    width: 85vw;
    transform-origin: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    animation: scale-animation 2s ease-in-out infinite;
  }

  @keyframes scale-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }

  .work-list h3 {
    text-align: center;
  }
  
  .social-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .fa-linkedin {
    color: black;
    animation: logo-animation 2s ease-in-out infinite;
  }
  
  .fa-github {
    color: black;
    animation: logo-animation 2s ease-in-out infinite;
  }
  
  .fa-envelope {
    color: black;
    animation: logo-animation 2s ease-in-out infinite;
  }

  @keyframes logo-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); 
    }
    100% {
      transform: scale(1);
    }
  }
  
  #skills {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
  }
  
  .skills-gap {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  #education {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
  }
  
  #services {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
  }
  
  #contact {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  form input,
  form textarea, button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none;
  }

  /* input::placeholder {
    color: rgba(0, 0, 0, 0.700);
  }

  textarea::placeholder {
    color: black;
  } */
  
  button {
    border-bottom: none;
    font-size: 1.5rem;
    font-family: serif;
    text-shadow: 1px 1px 2px black;
  }
  
  footer {
    text-align: center;
    padding: 30px;
  }
  
  @media (min-width: 768px) {
    body {
      padding: 20px;
    }
  
    #works {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .work-list {
      height: 350px;
      width: 44vw;
    }
  
    #works > h2 {
      width: 100vw;
    }
    
  }