a {
  text-decoration: none;
}

.connect-w-me {
  font-size: 26px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  margin-bottom: 25px;
}

#github {
  background-color: darkgray;
  color: #333;
  border: 1px solid;
  border-color: darkgray;
  border-radius: 3px;
  font-size: 13px;
  padding: 3px 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.15s;
  cursor: pointer;
  margin-bottom: 0;
}

#github:hover {
  background-color: lightgray;
  border: 1px solid;
  border-color: darkgray;
  color: #333;
}

#github:active {
  background-color: lightgray;
  border: 1px solid;
  border-color: darkgray;
  color: #333;
}

#linkedin {
  background-color: darkgray;
  color: #333;
  border: 1px solid;
  border-color: darkgray;
  border-radius: 3px;
  font-size: 13px;
  padding: 3px 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.15s;
  cursor: pointer;
  margin-bottom: 0;
}

#linkedin:hover {
  background-color: lightgray;
  border: 1px solid;
  border-color: darkgray;
  color: #333;
}

#linkedin:active {
  background-color: lightgray;
  border: 1px solid;
  border-color: darkgray;
  color: #333;
}