* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #1a1a1a;
  color: #f5f5f5;
  padding: 0 64px;
  font-family: "Lora", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
h1 {
  font-size: 32px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}
a {
  font-size: 14px;
  font-weight: 400;
}
.short-description {
  font-size: 12px;
  padding: 16px 0;
  border-bottom: 1px solid #f5f5f5;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  padding: 32px 0;
}
.logo {
  font-size: 32px;
  font-weight: 900;
  font-family: "Playfair Display", serif;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style: none;
}
nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.15s ease-in-out;
}
nav ul li a:hover {
  border-bottom: 2px solid #f5f5f5;
}
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
}
.hamburger span {
  height: 2px;
  width: 25px;
  background-color: #f5f5f5;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 64px 0;
}
section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.socials {
  display: flex;
  align-items: center;
  gap: 16px;
}
.linkedin {
  font-size: 32px;
  /* color: #0a66c2; */
  animation: logoAnimationUp 1.5s ease-in-out infinite;
}
.github {
  font-size: 32px;
  animation: logoAnimationDown 1.5s ease-in-out infinite;
}
.mail {
  font-size: 32px;
  /* color: #ea4335; */
  animation: logoAnimationUp 1.5s ease-in-out infinite;
}
@keyframes logoAnimationUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes logoAnimationDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: max-content;
}
input,
textarea {
  font-size: 14px;
  font-family: "Lora", sans-serif;
  background-color: #f5f5f5;
  padding: 8px 16px;
  border: none;
  color: #1a1a1a;
}
input:focus,
textarea:focus {
  outline: none;
}
button {
  font-family: "Lora", sans-serif;
  padding: 8px 16px;
  max-width: max-content;
  font-size: 14px;
  border: none;
  background-color: #f5f5f5;
  transition: all 0.15s ease-in-out;
}
button:hover {
  transform: translateY(-4px);
}
@media (max-width: 478px) {
  body {
    padding: 0 16px;
  }
  .hamburger {
    display: flex;
  }
  .hide {
    display: none;
  }
  nav ul {
    height: 100vh;
    width: 70vw;
    background-color: rgba(26, 26, 26, 0.1);
    backdrop-filter: blur(10px);
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    transition: all 0.15s ease-in-out;
  }
  .open {
    right: 0;
  }
}
